# Ignore everything in this directory, since it's the bin directory:                                          
*                                                                                                             
# Except this file                                                                                            
!.gitignore
